# URL web app Google Apps Script yang terhubung ke spreadsheet
VITE_SPREADSHEET_URL="https://script.google.com/macros/s/YOUR_ID/exec"

# Kode admin untuk login
VITE_ADMIN_CODE="admin123"

# Kode akses pengguna
VITE_USER_CODE="user123"
